<html>
  <head>
    <title>ADD</title>
  </head>
  <body>
    <form action ="{% url 'save' %}" method="POST">
        {% csrf_token %}

        <p>Enter Course ID: {{form.course_id}}</p>
        <p>Enter Course Name: {{form.course_name}}</p>
        <p>Enter Course Credit: {{form.course_credit}}</p>
        <p>Enter Course Credit: {{form.course_type}}</p>
        <p>Enter Tutorial Full marks: {{form.tutorial_full_marks}}</p>
        <p>Enter Attendance Full marks: {{form.att_full_marks}}</p>
        <p>Enter Final Full marks: {{form.final_full_marks}}</p>

        <input type = "submit" value="SAVE"></input>
    </form>
  </body>
</html>
