<html>
  <head>
    <title>Edit</title>
  </head>
  <body>
    <h1>EDIT PAGES</h1>
    <form action="#" method="POST">
      {% csrf_token %}
      <p>Course id:{{form.course_id}}</p>
      <p>Course Name:{{form.course_name}}</p>
      <p>Course Credit:{{form.course_credit}}</p>
      <p>Course Type:{{form.course_type}}</p>
      <p>Tutorial Marks:{{form.tutorial_full_marks}}</p>
      <p>Attendance:{{form.att_full_marks}}</p>
      <p>Final Marks:{{form.final_full_marks}}</p>
      <input type="submit" value="UPDATE" />
    </form>
  </body>
</html>
